{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="home">
    <div class="row">
      <div class="col-sm-12 home__block1">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1><b>{% trans "opensale E-commerce platform" context "Homepage title" %}</b></h1>
                <h2><b>{% trans "Open Source Python Web Framework for Raspberry Pi" context "Homepage title" %}</b></h2>
                  <a class="btn btn-secondary home__button" href="https://github.com/Kenstogram/opensale">
                    {% trans "Git" context "Homepage action" %}
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 home__block2">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1><b>{% trans "Integrated Waiting List Application" context "Homepage title" %}</b></h1>
                <a class="btn btn-secondary home__button" href="#">
                   {% trans "Organize" context "Homepage action" %}
                   </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 home__block3">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1><b>{% trans "Accept Bitcoin" context "Homepage title" %}</b></h1>
                <h1><b>{% trans "& Other Crypto" context "Homepage title" %}</b></h1>
                <a class="btn btn-secondary home__button" href="https://github.com/Kenstogram/opensale">Buy Kit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if products %}
      <div class="home__featured">
        <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
        <div class="row">
          {% include "product/_items.html" %}
        </div>
      </div>
    {% endif %}
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
